   .boton{
        display: block;       /* Ocupa toda la línea */
        width: 200px;         
        margin: 10px auto;    /* Espacio y centrado horizontal */
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    .centrar{
        width: 200px;         
        margin: 10px auto;    /* Espacio y centrado horizontal */
        padding: 30px;
        font-size: 40px;
        cursor: pointer;
    }
    .seccion{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000;  /* mostrar por encima de otros elementos*/
        inset: 0;       /* colocar todos sus bordes en la posicion para evitar que aparezcan debajo de lo demas*/
        background: white;
        overflow-y: auto; /* para scrollear para abajo*/
        -webkit-overflow-scrolling: touch; /*para scrollear con mas suavidad*/

    }

    /*no funciona como los otros elementos al ser un input con un tipo fijado*/
    .archivo-json{
    display: block;        /* Necesario para margin auto */
    width: 200px;          /* Ancho definido */
    margin: 10px auto;     /* Centrado automático */
    padding: 10px;
    }
    .caja-contenedor {
    background: whitesmoke;
    border-radius: 20px;
    width: 100%;
    }

    .caja-stats{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        padding: 20px;
        margin-bottom: 25px;
    }

    .carta-stats{
       background: white;               
        border-radius: 8px;                
        padding: 20px;                     
        text-align: center;                
        border: 2px solid #e9ecef;          
    }

    .numeros-stats{
        font-size: 2em;
        margin: 10px;
    }
    .letras-stats{
        color:grey;
        letter-spacing: 1px;
    }

    .caja-titulo{
        margin-botom: 20px;
    }

#tablas-ranking {
    margin: 20px 0;
}


.tabla-ranking {
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.tabla-ranking h3 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

#tablas-ranking table {
    width: 100%;
    border-collapse: collapse;
}

#tablas-ranking th {
    padding: 12px 8px;
    text-align: left;
}

#tablas-ranking td:first-child {
    font-weight: bold;
    width: 40px;
    text-align: center;
}

